{{ define "title"}}Info on Gists App{{end}}
{{ define "main"}}
    <h2>They say this is the Gists society</h2>
        <p>Can't speak for others but the specific guidance is to exit and it might result in the gentrification of the shutting down process. More information about this can be found on the internet</p>
{{end}}