{{define "title"}}User Info{{end}}

{{define "main"}}
    <h2>User Info</h2>
    {{with .User}}
        <table>
            <tr>
                <th>Name</th>
                <td>{{.Name}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{.Email}}</td>
            </tr>
            <tr>
                <th>Joined</th>
                <td>{{humanDate .CreatedOn}}</td>
            </tr>
        </table>
    {{end }}
{{end}}