{{ define "title"}}Gist #{{ .TmplGst.ID }}{{end}}
{{ define "main"}}
   {{ with .TmplGst }}
        <div class='gist'>
            <div class='metadata'>
                <strong>{{ .Title }}</strong>
                <span>#{{ .ID }}</span>
            </div>
            <pre>{{ .Content }}</pre>
            <div class='metadata'>
                <span>{{ fmtDate .CreatedOn }}</span>
                <time>{{ fmtDate .ExpiresOn }}</time>
            </div>
        </div>
    {{ end }}
{{ end }}