{{define "baselayer"}}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>{{template "heading" .}} - Gist App</title>
</head>
<body>
<header>
    <h1><a href='/'>Gist App</a></h1>
</header>
{{ template "redirect" .}}
<main>
    {{template "start" .}}
    {{block "additionalblockedbar" .}}
        <p>Some default content</p>
        {{end}}
</main>
<footer>Powered by <a href='https://golang.org/'>Go</a></footer>
</body>
</html>
        {{end}}