{{define "redirect"}}
    <nav>
        <a href='/'>Landing</a>
        <a href='/new'>New Gist</a>
        <a href='/usr/signin'>Login</a>
        <a href='/usr/register'>Register</a>
        <a href='/usr/signout'>Signout</a>
    </nav>
{{end}}