{{define "redirect"}}
    <nav>
        <div>
            <a href='/'>Landing</a>
            <a href="/info">Info about Gists</a>
            {{if .Validauthn}}
                <a href='/new'>New Gist</a>
            {{end}}
        </div>
        <div>
            {{ if .Validauthn }}
                <a href='/usr/view'>UserInfo</a>
                <form action='/usr/signout' method='POST'>
                    <input type='hidden' name='csrf' value='{{.CSRFTkn}}'>
                    <button>Logout</button>
                </form>
            {{else}}
                <a href='/usr/signin'>Login</a>
                <a href='/usr/register'>Register</a>
            {{end}}
        </div>
    </nav>
{{end}}